/************************************/
/* GENERAL */
/************************************/

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #faf3ee;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #202020;
  font-family: "Raleway", sans-serif;
}

/************************************/
/* NAV */
/************************************/
.nav-list {
  margin: 3.5rem 9rem 11rem 9rem;
  list-style: none;
  font-size: 2.1rem;
  font-weight: 300;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: space-between;
}

input {
  border-style: none;
  outline: none;
  background-color: transparent;
  height: 3rem;
  padding: 1.25rem;
  font-family: "Raleway", sans-serif;
  color: #202020;
  font-size: 2.1rem;
  font-weight: 300;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.site-name {
  font-family: "PT Serif", serif;
  font-size: 6rem;
  letter-spacing: 0.01em;
}
.site-links {
  display: flex;
  justify-content: space-evenly;
}

.nav-link-first {
  margin-right: 7rem;
}

.nav-link:link,
.nav-link:visited {
  color: #202020;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: none;
}

/************************************/
/* HERO */
/************************************/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22.5rem;
}

img {
  display: block;
  max-width: 40vw;
  margin: 0 auto;
}

.hero-text {
  margin-left: 3rem;
}

#title {
  font-family: "PT Serif", serif;
  font-size: 10.3rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.06;
  margin-bottom: 2.5rem;
}

.subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.147em;
  text-transform: uppercase;
}

/************************************/
/* ARTICLE */
/************************************/
.article {
  margin-bottom: 32rem;
}

.article h2,
.article-paragraphs {
  display: flex;
  justify-content: center;
}

.article h2 {
  font-family: "PT Serif", serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.2;
}

.article-title {
  margin-bottom: 11.5rem;
}

.article-title-1 {
  margin-bottom: 0.75rem;
}

.article p {
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 0.075em;
  line-height: 1.5;
}

.article-paragraphs-container {
  margin: 0 50rem 0 50rem;
}

.article-paragraphs-1 {
  margin-bottom: 3.5rem;
}

/************************************/
/* INTERVIEW */
/************************************/

.interview {
  margin-bottom: 38rem;
}

.interview h2,
.youtube-container,
.youtube-blurb-container {
  display: flex;
  justify-content: center;
}

.youtube-blurb-container {
  margin: 0 55rem 0 55rem;
  text-align: center;
}

iframe {
  width: 60vw;
  height: 34vw;
}

.youtube-container {
  margin-bottom: 3rem;
  letter-spacing: 0.054em;
}

.youtube-blurb-container {
  font-size: 2.1rem;
}
/************************************/
/* QUOTE */
/************************************/
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 42rem 36.5rem 42rem;
  font-family: "PT Serif", serif;
  font-weight: 400;
}

#image-2 {
  max-width: 20vw;
  margin-right: 10rem;
}

blockquote {
  font-size: 2.5rem;
  letter-spacing: 0.01em;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.quote-author {
  font-weight: 700;
}

/************************************/
/* WIKIPEDIA BLURB */
/************************************/
.wikipedia-blurb {
  margin-bottom: 10rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2.3rem;
  letter-spacing: 0.057em;
  line-height: 1.09;
  display: flex;
  justify-content: center;
}

.wikipedia-blurb a:link,
.wikipedia-blurb a:visited {
  color: #202020;
  text-decoration: underline;
}

.wikipedia-blurb a:hover {
  text-decoration: underline;
}

/************************************/
/* FOOTER */
/************************************/
footer {
  background-color: #fff;
  padding: 5.5rem 30rem 8.5rem 30rem;
  font-size: 1.35rem;
}

.site-name-footer {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-bottom: 3.5rem;
}

footer ul {
  list-style: none;
}

footer li {
  margin-bottom: 1rem;
}

.footer-columns {
  display: flex;
  margin-bottom: 6rem;
}

footer a:link,
footer a:visited {
  color: #202020;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

.footer-col-1,
.footer-col-2 {
  margin-right: 16rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-left {
  display: flex;
}

.footer-bottom-left-first {
  margin-right: 3rem;
}

.footer-bottom-right {
  text-transform: uppercase;
}
